<!-- <div class="crop" [style.width.px]="starWidth" [title]="rating" (click)="onClick()"> -->
<div class="crop" [title]="rating" (click)="onClick()">
    <div style="width: 85px">
      <span class="glyphicon glyphicon-star"></span>
      <!-- <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span> -->
    </div>
</div>
   <!-- <div>
     <label for="">Width of div is in px:</label>
     {{starWidth}}
   </div>
   -->
   